.header {
  background:
  /* top, transparent black, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    /* bottom, image */
      url(https://images.unsplash.com/photo-1492560704044-e15259ca1c61?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headshot {
  display: flex;
  align-items: center;
  justify-content: center;
}
.headshot-img {
  border-radius: 50%;
  border: 3px solid white;
}
.social-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-btns {
  display: flex;
  justify-content: space-around;
}
.skills {
  display: flex;
  justify-content: space-around;
  
}

.projects-bg {
  background-color: #868e96;
  min-height: 60vh;
}
