.loading-screen {
  text-align: center;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.header {
  background:
  /* top, transparent black, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)
    ),
    /* bottom, image */
      url(https://images.unsplash.com/photo-1492560704044-e15259ca1c61?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headshot {
  display: flex;
  align-items: center;
  justify-content: center;
}
.headshot-img {
  border-radius: 50%;
  border: 3px solid #17a2b8;
}
.social-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-btns {
  display: flex;
  justify-content: space-around;
}
.skills {
  display: flex;
  justify-content: space-around;
}
.icon:hover {
  color: #17a2b8 !important;
}

.about-bg {
  background: #fff;
  padding: 10px;
}

.projects-bg {
  background: #134e5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #71b280,
    #134e5e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #71b280,
    #134e5e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pfp-pop:hover {
  transform: scale(1.045);
}

.card-pop {
  margin: 15px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
  cursor: pointer;
}

.card-pop:hover {
  transform: scale(1.015);
}

.card__button {
  text-decoration: none !important;
  color: #343a40 !important;
}

.footer-bg {
  background-color: #000;
  margin-bottom: -5em;
  min-height: 2em;
}
